{% extends "pizza_app/base.html" %}
{% load static %}
{% block page_header %}
    <h1>Pizzas</h1>
{% endblock page_header %}
{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pizza_app/css/pizzeria_theme.css' %}">
{% endblock %}
<head>
    
</head>
<div class="card-deck"> 
    {% for pizza in pizzas %}
        <div class="card"> 
            <a href="{% url 'pizza_app:pizza' pizza.id %}">
            <div class="card-block"> 
                <img src="{{ pizza.image.url }}" style="width: 200px;" class="center"/>
                <h4 class="card-title" style="text-align: center;">{{ pizza }}
                </h4> 
            </div> 
            </a>
        </div> 
    {% endfor %}
</div>

{% endblock content %}